.pagina-postagem__container,
.email__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1em 10em;
    padding-bottom: 3em;
}

.titulo__form {
    font-size: 30px;
    margin: 0.3em 0;
}

.input__formulario {
    font-family: var(--fonte-titulo);
    font-size: 20px;
    padding: 1em;
    border-radius: 10px;
    color: var(--cor-4);
    background-color: var(--cor-2);
    border: 5px solid var(--cor-3);
}

.input__formulario--alternativo {
    font-family: var(--fonte-titulo);
    font-size: 20px;
    width: 60%;
    padding: 1em;
    border-radius: 10px;
    color: var(--cor-4);
    background-color: var(--cor-2);
    border: 5px solid var(--cor-3);
}

.formulario__botao {
    font-family: var(--fonte-titulo);
    background-color: var(--cor-2);
    border: 3px solid var(--cor-3);
    color: var(--cor-4);
    border-radius: 5px;
    padding: 1em;
    margin-top: 2em;
    transition: all 0.1s;
}

.formulario__botao:hover {
    text-shadow: 2px 2px var(--cor-1);
    box-shadow: 3px 3px var(--cor-2);
}