.plot--container {
    text-align: center;
}

.titulo--plot {
    font-size: 40px;
    text-transform: uppercase;
    padding: 1em 1em;
}

.texto--plot {
    font-size: 30px;
    font-weight: 500;
}