.blog__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;
}

.postagem__container--blog {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: var(--cor-2);
    padding: 1em;
    margin-bottom: 2em;
    border: 5px solid var(--cor-3);
    border-radius: 10px;
    box-shadow: 4px 4px 10px var(--cor-3), -4px -4px 10px var(--cor-4);
}

.titulo__postagem {
    font-size: 20px;
}

.data__postagem {
    font-size: 14px;
    font-style: italic;
    margin: 0.7em 0;
}

.texto__postagem {
    font-size: 15px;
}