/*principal e página inicial*/
@import url(reset.css);
@import url(header.css);
@import url(nav-bar.css);
@import url(plot.css);
@import url(gameplay.css);
@import url(lancamento.css);
@import url(footer.css);

/*blog*/
@import url(headerBlog.css);
@import url(postagem.css);

/*fontes*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

/*variáveis*/
:root  {
    --fonte-titulo: "Press Start 2P";
    --font-geral: "Montserrat";

    --cor-1: #f4febf;
    --cor-2: #9ad942;
    --cor-3: #04815c;
    --cor-4: #082c44;
}

body {
    background-color: var(--cor-1);
}

.titulo {
    font-family: var(--fonte-titulo);
    color: var(--cor-4);
}

.texto {
    font-family: var(--font-geral);
    color: var(--cor-4);
}

.texto--cabecalho__alternativo {
    font-size: 25px;
    font-style: italic;
}
